body {
    height: 100%;
    width: 100%;
    background-image: url('https://images4.alphacoders.com/629/thumb-1920-629243.jpg');
    /* background-image: linear-gradient(#2b2b3d, #232338); */
    background-color: #23233b;
    background-position: 10%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

img {
    border-radius: 25%;
}

h1 {
    text-align: center;
    color: white;
    font-family: Roboto;
    background-color: #4c4c4d;
    padding: 0.5% 1.5% 0.5% 1.5%;
    display: table;
    margin: 1% 38% 0% 38%;
    border-radius: 5%;
    border-style: solid;
    border-color: #5bc0de
}

h2 {
    color: white;
}

button {
    width: 6%;
    margin: auto;
}

button:hover {
    border-color: yellow;
    box-shadow: aqua;
    box-shadow: 0 0.5em 0.5em -0.4em;
    transform: translateY(-0.25em);
    cursor: pointer;
}

span.container-sm {
    font-size: large;
    font-family: Roboto;
    color: whitesmoke;
    margin: 2%;
}

span.p-block {
    display: block;
    padding: 2%;
}

#maincontainer1 {
    float: left;
    background-color: #2d2d2e;
    border-radius: 5%;
    border-style: solid;
    border-color: #5bc0de
}

#maincontainer1>figure {
    width: 50%;
    height: 50%;
    float: right;
    margin: 10px 10px 10px 10px;
}

#maincontainer2 {
    float: right;
    background-color: #4c4c4d;
    border-radius: 5%;
    border-style: solid;
    border-color: #5bc0de
}

#maincontainer2>figure {
    width: 50%;
    height: 50%;
    float: left;
    margin: 10px 10px 10px 10px;
}

#maincontainer3 {
    float: left;
    background-color: #3a3a3e;
    border-radius: 5%;
    border-style: solid;
    border-color: #5bc0de
}